.login_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.login_head span:first-child {
  font-size: 3em;
  font-weight: bold;
  color: rgb(30, 55, 153);
  margin-bottom: 30px;
}

.login_head span:nth-child(2) {
  font-size: 2em;
  margin-bottom: 30px;
  padding: 0px 25px;
}

.login_head span:nth-child(3) {
  font-size: 1.5em;
  color: rgb(30, 55, 153);
}

.login_form {
  width: 454px;
  height: 354px;
  margin: 0px auto;
}

@media (max-width: 600px) {
  .login_form {
    width: 90%;
  }
}

.login_form fieldset {
  border-radius: 5px;
  border: 1px solid #adacac;
  padding: 10px 28px;
}

.login_form legend {
  font-size: 1.5em;
  padding: 0px 8px;
}

.login_form_inputContainer {
  width: 100%;
  font-size: 1em;
}

.login_form input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login_form_input_span {
  font-size: 1em;
  color: red;
}

.login_form_btn {
  width: 100%;
  float: right;
  margin: 5px 0px;
  padding: 15px 0px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(30, 55, 153);
  border: 1px solid rgb(30, 55, 153);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.login_form_google_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: right;
  margin: 5px 0px;
  padding: 15px 0px;
  border-radius: 5px;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.login_form_google_btn span {
  display: flex;
  margin: 0px 5px;
}

.login_form_google_btn span img {
  width: 25px;
  height: 25px;
}

.login_form_error {
  color: red;
  font-size: 1em;
}

.link_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f0f2f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.link_signup a {
  text-decoration: none;
  color: #515151;
  font-size: 1.3em;
}
