.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background-color: yellow;
}

.toDoList {
  background-color: teal;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
}

.toDoList_title {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.toDoList_title {
  font-size: 30px;
}
