.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 98vw;
  margin-top: 30px;
}

.side_menu {
  width: 350px;
}

.side_menu form {
  width: 100%;
  padding: 20px;
  background-color: teal;
  border-radius: 10px;
}

.side_menu fieldset {
  border: none;
}

.side_menu legend {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.side_menu input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.side_menu label {
  display: block;
  margin: 20px auto;
  color: #fff;
}

.side_menu textarea {
  height: 150px;
  width: 100%;
  border-radius: 5px;
}

.side_menu button {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.content_list {
  width: 350px;
  -webkit-padding-start: 0px;
}

.content_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 15px;
  position: relative;
  border-radius: 5px;
  border-left: 4px solid teal;
  word-break: break-all;
}

.content_list li + li {
  margin: 5px 0;
}

.content_list .title {
  font-size: 1.1em;
  padding: 0px 10px;
}

.content_list button {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  z-index: 10;
}

.todoDoing {
  opacity: 1;
}

.todoDone {
  opacity: 0.5;
  text-decoration: line-through;
}
