.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 98vw;
  margin-top: 30px;
}

.side_menu {
  width: 350px;
}

.side_menu form {
  width: 100%;
  padding: 20px;
  background-color: rgb(30, 55, 153);
  border-radius: 10px;
}

.side_menu fieldset {
  border: none;
}

.diaryForm_title {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
  color: #fff;
}
.diaryForm_title span {
  margin-right: 10px;
}

.side_menu input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.side_menu label {
  display: block;
  margin: 20px auto;
  color: #fff;
}

.side_menu textarea {
  height: 150px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.side_menu button {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.content_list {
  width: 350px;
  -webkit-padding-start: 0px;
}

.content_list li {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  border-left: 4px solid rgb(30, 55, 153);
}
.content_list li + li {
  margin: 20px 0;
}

.li_content {
  display: flex;
  justify-content: space-between;
}

.content_list .title {
  font-size: 1.3em;
}

.content_list .text {
  font-size: 1.3em;
  word-break: break-all;
}

.content_list .img {
  width: 100%;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn button {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
}

.editForm textarea:first-child {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 1.3em;
  word-break: break-all;
  margin-bottom: 5px;
  overflow-y: auto;
}

.editForm textarea:nth-child(2) {
  height: 150px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  font-size: 1.3em;
  word-break: break-all;
  margin-bottom: 5px;
  overflow-y: auto;
}

.editForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  color: rgb(63, 229, 63);
  font-size: 20px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.bigImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 100;
  background-color: #484646;
  overflow: hidden;
}

.bigImg img {
  width: 100%;
  z-index: 101;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 102;
  font-size: 30px;
  margin: 10px;
}

.closeBtn :hover {
  color: rgba(0, 0, 0, 0.5);
}
.closeBtn :active {
  color: rgba(255, 0, 0, 1);
}
