.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 680px;
  max-width: 680px;
  margin-left: 300px;
  margin: 40px auto;
}

@media (max-width: 1024px) {
  .cont {
    min-width: 484px;
    max-width: 484px;
    margin: 136px auto;
    margin-left: none;
  }
}

.write_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 30px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
}

.write_btn_container button {
  width: 100%;
  border: none;
  border-radius: 40px;
  padding: 10px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.content_list {
  width: 100%;
  -webkit-padding-start: 0px;
}

.content_list li {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
}
.content_list li + li {
  margin: 20px 0;
}

.li_content {
  display: flex;
  justify-content: space-between;
}

.post_writer {
  width: 100%;
  background-color: yellow;
  border-bottom: 1px solid #ccc;
}

.post_title {
  font-size: 1.3em;
}

.post_detail {
  font-size: 1.3em;
  word-break: break-all;
}

.content_list .img {
  width: 100%;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn button {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
}

.editForm textarea:first-child {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 1.3em;
  word-break: break-all;
  margin-bottom: 5px;
  overflow-y: auto;
}

.editForm textarea:nth-child(2) {
  height: 150px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  font-size: 1.3em;
  word-break: break-all;
  margin-bottom: 5px;
  overflow-y: auto;
}

.editForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  font-size: 20px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.bigImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  height: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 100;
  background-color: #484646;
  overflow: hidden;
}

.bigImg img {
  width: 100%;
  z-index: 101;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 102;
  font-size: 30px;
  margin: 10px;
}

.closeBtn :hover {
  color: rgba(0, 0, 0, 0.5);
}
.closeBtn :active {
  color: rgba(255, 0, 0, 1);
}

.modal-open {
  overflow: hidden;
}
