.nav {
  display: flex;
  flex-direction: column;
  background-color: royalblue;
  padding: 0px 50px;
  height: 16vh;
}

.nav .list_nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

.nav .title {
  color: #ffffff;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav button {
  padding: 6px 12px;
  border-radius: 10px;
  background-color: teal;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.toDo {
  font-size: 20px;
}
