.Comments_Container {
  width: 100%;
  padding: 10px;
}

.Comments_comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.Comments_form {
  display: flex;
  width: 100%;
}

.Comments_form textarea {
  width: 100%;
  height: auto;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 10px;
}

.Comments_form button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background-color: #dcdcdc;
}

.Comments_form button:hover {
  background-color: #ccc;
}
