.signup_form {
  width: 454px;
  height: 354px;
  margin: 60px auto;
}

.signup_form fieldset {
  border-radius: 5px;
  border: 1px solid #adacac;
  padding: 28px;
}

.signup_form legend {
  font-size: 1.5em;
  padding: 0px 8px;
}

.signup_form_inputContainer {
  width: 100%;
  font-size: 1em;
}

.signup_form input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 14px;
}

.signup_form_inputContainer input:first-child {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1em;
}

.signup_form_inputContainer input:nth-child(2) {
  width: 100%;
  font-size: 1em;
}

.signup_form_inputContainer input:nth-child(3) {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
}

.signup_form button {
  width: 100%;
  margin-top: 40px;
  float: right;
  padding: 15px 0px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(30, 55, 153);
  border: 1px solid rgb(30, 55, 153);
  font-weight: bold;
  cursor: pointer;
}
